requests
line-bot-sdk
pyngrok
google-api-python-client
oauth2client
gspread
google-generativeai
pillow
google-cloud-vision
waitress
selenium
websocket
websockets
flask[async]
quart
hypercorn
python-decouple
python-docx
pypdf
openpyxl
pandas
tabulate[widechars]